/*---------------------HEADER-----------------------*/


nav {
  padding-top: 5px;
}

.navbar {
  list-style-type: none;
  padding-left: 10px;
  margin: 0;
  li {
    a {
      font-size: 0.8em;
      color: black;
      text-decoration-line: none;
    }
  }
  li a:hover{
    text-decoration: underline;
  }

  li {
    float: left;
    padding: 7px;
  }
}

#iconemenu {
  height: 18px;
}

.navright {
  float: right;
  padding-right: 20px;
}

#sign {
  border-radius: 4px;
  background: #003cb3;
  padding: 5px 7px;
  a {
    color: white;
  }
}


/*---------------------BODY-----------------------*/


.logo {
  padding-top: 150px;
  text-align: center;

  img {
    display: inline-block;
  }
}




#recherchegoogle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}


form#champrecherche {
  height: 48px;
  width: 582px;
  border-radius: 24px;
  border: 1px solid #dfe1e4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#champrecherche {
  img {
    height: 25px;
    margin: 7px 9px;
  }

  input {
    height: 48px;
    width: 500px;
    border: none;
    font-size: 18px;
  }

  input:focus {
    outline: none;
  }
}


.buttons {
  padding: 5px 8px;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;

  button {
    display: inline-block;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    text-decoration-line: none;
  }
}

.bottom {
  list-style-type: none;
  padding-bottom: 5px;
  margin-top: -0.2em;
  padding-right: 50px;
  font-size: 1.2em;
  margin-bottom: 1.5em;

  li {
    float: left;
  }

  li {
	  a{
		font-size: 0.8em;
		color: grey;
		text-decoration-line: none;
		padding: 7px;
	  }
  }
}


.texts {
  padding: 5px 8px;
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
  
  .left_text{
		font-size: 0.9em;
		color: black;
		text-decoration-line: none;
		padding: 3px;
    }
  .right_text{
    font-size: 0.9em;
		color: blue;
		text-decoration-line: none ;
    padding: 3px;
  }
}

.right_text:hover {
  text-decoration: underline; 
 }

/*---------------------FOOTER----------------------*/


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgb(243, 243, 243);
  border-top: solid rgb(235, 225, 225) 1px;
  font-size: 1em;

  p {
	color: grey;
	padding-bottom: 10px;
	padding-left: 50px;
	border-bottom: solid rgb(235, 225, 225) 1px;
  }

  li {
    a{
      font-size: 1.7em;
      text-decoration: underline;
    }
    }

}

footer li a:hover {
  text-decoration: underline; 
 }

.bottomright {
  text-align: right;
  float: right;
}
